.errorBox {
  display: flex;
  max-width: 100%;
  width: 310px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 25px 10px 25px;
  margin: 15px auto 5px auto;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: rgba(251, 251, 251, 0.9);
  box-shadow: 8px 8px 15px -1px rgba(0, 0, 0, 0.87);
}

.title {
  display: block;
}

.message {
  display: block;
}
