.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #9fd9f1;
  transition: all 150ms ease-in;
}

.link:hover {
  color: #4ac05060;
}

.activeLink {
  color: #08950f;
}
